<p><%= t('devise.mailer.hi', default: 'Hi') %>, <%= @resource.first_name %>,</p>

<p><%= t('.someone_has_requested', default: 'Someone has requested a link to change your password. You can do this through the link below:') %></p>

<p><%= link_to t('.change_password', default: 'Change your password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.ignore', default: "If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.") %></p>

<p><%= t('devise.mailer.support_text', default: 'If you have any questions, please do not hesitate to contact Op4G Support at') %> <%= mail_to 'support@op4g.com' %>.</p>

<p><b><%= t('devise.mailer.signature_text', default: 'The Op4G Team')%></b></p>
